{% extends 'base.html' %}
{% block title %}Ваш профиль{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Профиль
      </div>
      <div class="card-body">
        <body>
          <p style="color: {{ user.color }};">
          {{ user.username }}
          </p>
        </body>
        {% if user.golden_coins > 0 %}
          <a href="{% url 'users:buycolor' %}"><input type="submit" value="Сменить цвет никнейма за 10 монеток"></a>
        {% else %}
          <a href=""><input type="submit" value="У вас не хватает монет для смены цвета :("></a>
        {% endif %}
      </div>
    </div>
  </div> 
</div> 
{% endblock %}